*
!.gitignore
!*.py
!*.cfg
!*.txt
!*.md
!*.ipynb
!*.yml
!*.sh
!*.org
!MakeFile

!/backup/
!/conf/
!/notebooks/
!/org/
!/src/
!/tests/

!/**/*.cfg
!/**/*.txt
!/**/*.md
!/**/*.yml
!/**/*.c
!/**/*.cpp
!/**/*.cu
!/**/*.h
!/**/*.hpp
!/**/*.sh
!/**/*.py
!/**/*.org
!/**/MakeFile
!/**/*.bak

/data